h1 {
  text-align: center;
}

h3 {
  color: blue;
  text-align: center;
}
h3:hover{
  text-decoration: underline;
}

p {
  text-align: center;
}

.col-md-4 {
  padding: 15px 15px 15px 15px;
}

.row {
  margin: 75px 0px 75px 0px;
}
#operatorsfade {
  display: none;
}

#variablesfade{
  display: none;
}
#functionsfade {
  display: none;
}

#methodsfade {
  display: none;
}
#argumentsfade {
  display: none;
}

#parametersfade {
  display: none;
}
#stringsfade {
  display: none;
}

#booleansfade {
  display: none;
}
#attributesfade {
  display: none;
}

.operators {
  display: contents;
}

.variables{
  display:contents;
}
.functions {
  display: contents;
}

.methods {
  display: contents;
}
.arguments {
  display: contents;
}

.parameters {
  display: contents;
}
.strings {
  display: contents;
}

.booleans {
  display: contents;
}
.attributes {
  display: contents;
}
